{
    "extends": "standard",
    "env": {
        "browser": true,
        "mocha": true,
        "node": true,
        "jasmine": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "rules": {
        "space-before-function-paren": 0,
        "indent": ["error", 4],
        "no-multiple-empty-lines": 0,
        "curly": 0,
        "no-mixed-spaces-and-tabs": 0,
        "comma-dangle": 0
    }
}
